/* === Responsive Design File === */
@media (max-width: 530px) {
  .box-content .child {
    display: block;
  }
  .box-content .child > div {
    display: block;
  }
  .box-content .child .remove {
    display: block;
  }
  .box-content .child .remove span {
    width: 100%;
  }
  .export-pop > div,
  .import-pop > div {
    width: 90%;
  }
}

@media (max-width: 440px) {
  .import-btn {
    margin-top: 20px;
    display: block;
    -webkit-transform: none;
            transform: none;
    text-align: center;
    position: static;
  }
}

@media (max-height: 700px) {
  .export-pop,
  .import-pop {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    overflow-y: auto;
  }
  .export-pop > div,
  .import-pop > div {
    margin: 20px 0;
  }
}
